---
title: '分析AEM Cloud Manager测试结果 '
description: 浏览并修复AEM Cloud Manager中的报告结果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# 分析测试结果

浏览代码中的任何编译错误，以及此代码是否遵循AEM作为Cloud Service的最佳实践

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)