---
title: '分析AEM Cloud Manager测试结果 '
description: 从AEM Cloud Manager中浏览并修复报表结果
role: Developer
level: Beginner
type: Tutorial
topic: 开发
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# 分析测试结果

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析测试结果"
>abstract="检查代码中的任何编译错误以及此代码是否遵循AEM作为Cloud Service的最佳实践"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="理解测试结果"

浏览代码中的任何编译错误，以及此代码是否遵循AEM作为Cloud Service的最佳实践

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
