---
title: 分析AEM Cloud Manager测试结果
description: 浏览并修复AEM Cloud Manager中的报表结果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: bca51ece7a9b249727b8746cc9654503059116fb
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 51%

---

# 分析测试结果 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析测试结果"
>abstract="探索代码中的任何编译错误以及这段代码是否遵循 AEM as a Cloud Service 的最佳实践。"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="理解测试结果"

探索代码中的任何编译错误，以及此代码是否遵循AEM as a Cloud Service的最佳实践

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
