---
title: 分析AEM Cloud Manager测试结果
description: 浏览并修复来自AEM Cloud Manager的报告结果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 45%

---

# 分析测试结果 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析测试结果"
>abstract="探索代码中的任何编译错误以及这段代码是否遵循 AEM as a Cloud Service 的最佳实践。"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=zh-Hans#how-to-use" text="理解测试结果"

探索代码中的任何编译错误，以及此代码是否遵循AEMas a Cloud Service的最佳实践

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
